*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

textarea,input,button{
	font-family: inherit;
	font-size: 16px;
}


body{
	min-width: 100%;
	min-height: 100vh;
	font-family: "Poppins",sans-serif;
}

.documentation__side_bar{
	min-height: 100vh;
	min-width: 40ex;
	background: #0A2143;
	padding: 1em;
	position: fixed;
	top: 0;
	left: 0;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

.documentation__content{
	margin-left: 40ex;
	padding: 1em 1.4em;
	width: auto;
}

.side_bar_heading{
	color:#FFEA32;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	font-weight: 700;
	padding: 1em 0;
}

.documentation__side_bar .level1{
	margin-left: 0;
}

.documentation__side_bar .level2{
	margin-left: 2ex;
}

.documentation__side_bar .level3{
	margin-left: 5ex;
}

.side_bar__list_of_contents{
	color: white;
	font-size: 1.15em;
}

.side_bar__list_of_contents li{
	list-style: none;
	padding: 0.3em 0;
	cursor: pointer;
}

.side_bar__list_of_contents li:hover{
	color:#FFEA32;
}

#content__heading{
	text-align: center;
}

.documentation__content{
	text-align: justify;
}

.documentation__content section{
	padding: 0.5em 0;
}

.documentation__content div{
	padding: 0.3em 0;
}

.documentation__content p{
	padding: 0.1em 0;
}

.documentation__content h2{
	font-size: 1.7em;
}

.documentation__content h3{
	font-size: 1.3em;
}

.documentation__content h4{
	font-size: 1.1em;
}