*{
	padding: 0px;
	margin: 0px;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.toggleBtn__label{
	width: 85px;
	height: 40px;
}

.toggleBtn__input{
	display: none;
}

.toggleBtn__container{
	width: 250px;
	height: 75px;
	background: #E5E5E5;
	border-radius: 50px;
	display: inline-flex;
	align-items: center;
	box-shadow: 0px 0px 2px 0px #00000040 inset;
	transition: .5s;
	cursor: pointer;
}

.toggleBtn__slider{
	width: 60px;
	height: 60px;
	margin: 0 7.5px;
	border-radius: 50%;
	background: #FFFFFF;
	box-shadow: 0px 0px 2px 0px #00000040;
	transition: .5s;
}

.toggleBtn__input:checked + .toggleBtn__container{
	background: #6CA7FF;
}

.toggleBtn__input:checked + .toggleBtn__container>.toggleBtn__slider{
	transform: translateX(175px);
}
